.column {
  /* height: 502px; */
  padding: 20px 22px 24px;
  height: calc(100vh - 148px); 
  max-height: 100vh;

  /* background: linear-gradient(10deg, #f9f9fc 10%, #ffffff 100%) !important; */
  border-radius: 6px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 1, 0.2) !important;
  transition: box-shadow 0.22s ease !important;
  display: flex;
  flex-direction: column;
}

.column:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1) !important;
}

.heading {
  font-weight: bold !important;
  letter-spacing: 0.35px !important;
  margin-bottom: 10px !important;
  color: #3A3960 !important;
  text-align: center !important;
}

.divider{
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

.list {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 12px;

  overflow-y: auto;
  scroll-behavior: smooth;

  scrollbar-width: none;         
}

.list::-webkit-scrollbar {
  display: none;                  
}

.listItem {
  margin: 0;
  padding: 0;
}