/* body{
    background-color: aliceblue;

} */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #f9f9ff!important;
  font-family: 'Inter', sans-serif !important;
  color: #1f2937 !important;
}

*, *::before, *::after {
  box-sizing: inherit;
}
